table tr th.redb, table tr td.redb, table#generar, table tr th#fotozona
	{
	border-color: red;
}

table#generar {
	background-color: #f3e6c7;
}

table tr th#fotozona {
	background-color: white;
}

div#cartap, div#cartai {
	width: 280px;
	text-align: center;
}

div#cabecera {
	background-color: white;
}

div#cartap div, div#cartai div {
	border: 1px solid red;
	background-color: #f3e6c7;
	padding: 5px;
}

div#cartai {
	margin: 5px;
	float: left;
}

div#centrar table{
	margin:0 auto;
}
div#centrar{
	width: 50%;
	margin: 0 auto;
}